__pycache__
*.pyc
node_modules/
*~
*.so
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.braintrust/
pgdata/
marimo/_static/
marimo/_lsp/
notes.md
uploads/
__marimo__/
.vscode/
.env
.ruff_cache/
.pytest_cache/
